*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
.navbar{
    background-color: #33ADFF;
    color: #5dade2;
    border-bottom: 0.5px solid gray;
    width: 125%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30 px;
    position: absolute;
    top:0;
    left: 0;
    font-family: 'Open Sans';
} 
.navbar a{
    text-decoration: none;
    color: #F133FF;
}

.navbar a.nav-logo{ 
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Open Sans';
    color: #d8d8d8;
    font-weight: bold;

}
.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;

}
.navbar ul li a:hover{
    background-color: gray;
}
body{
    background-color: #000;
}
.content{
    font-family: 'Open Sans';
    color: #9FFF33;
    margin-top: 30%;
    margin-left: 100px;
}
h1{
    font-size: 70px;
}
p{
    margin-top: 10px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btns{
    margin-top: 20px;
    background: #d8d8d8;
    cursor: pointer;
    color: #191919;
    padding: 12px 20px;
    float: left;
    border: 0px;
    border-radius: 20px;
    margin-left: 10px;
}
.btns:hover{
    background: #848484;
}
img{
    margin-top: 80px;
    margin-left: 175px;
    width: 700px;
    filter: grayscale(0);
}
img:hover{
    filter: gray(0);
    transition: 3s;
    cursor: pointer;
}
.footer{
    background: #33ADFF;
    color: #9FFF33;
    height: 100px; 
    position: relative;
    clear:both;
    padding: 100;

}


.footer .footer-bottom{
    background: #33ADFF;
    color: #848484;
    margin-top: -100px;
    height: 100px;
    width: 300%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    

}

